<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <form action="">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nom du forfait</mat-label>
                <input matInput placeholder="Nom du forfait" value="" (ngModel)="formulaire.nom">
              </mat-form-field>
              <br>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Code</mat-label>
                <input matInput placeholder="Code" value="" (ngModel)="formulaire.code">
              </mat-form-field>
              <br>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Prix</mat-label>
                <input matInput placeholder="Prix" value="" (ngModel)="formulaire.prix">
              </mat-form-field>
        </form>
       
      <!-- <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button> -->
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Formulaire Recherche
      </button>
    </div>
  
