<!-- <div>
    Page 1
    <div>
        <app-entete></app-entete>
    </div>
    <div class="flex-container">
        <div>
            <app-recherche></app-recherche>
        </div>
        <div>
            <div>
                <app-carousel></app-carousel>
            </div>
            <div class="flex-container"> -->
                <!-- <div>
                    <mat-card><app-hero [hero]="heros[0]"></app-hero></mat-card>
                </div>
                <div>
                    <mat-card><app-hero [hero]="heros[1]"></app-hero></mat-card>
                </div>
                <div>
                    <mat-card><app-hero [hero]="heros[2]"></app-hero></mat-card>
                </div>
            </div>
        </div>
    </div>
    <div>
        <app-pied-page></app-pied-page>
    </div>
</div> -->




<!-- <app-liste-forfaits></app-liste-forfaits> -->

<app-formulaire-gestion-forfaits></app-formulaire-gestion-forfaits>

<!-- <app-formulaire-contact></app-formulaire-contact>

<app-formulaire-recherche></app-formulaire-recherche> -->

<router-outlet></router-outlet>
