<h2><b>Formulaire de gestion de forfaits :</b></h2>

<div class="flex-container">

  
  <button mat-fab color="primary" aria-label="Ajouter" (click)="openDialog(undefined)"><mat-icon>add</mat-icon></button>
  
  
</div>

<table mat-table #tableForfaits [dataSource]="dataSourceForfaits" matSort>

  <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom de l'hôtel </th>
      <td mat-cell *matCellDef="let forfait"> {{forfait.etablissement.nom_etablissement}} </td>
  </ng-container>

  <ng-container matColumnDef="telephone">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Téléphone </th>
    <td mat-cell *matCellDef="let forfait"> {{forfait.etablissement.coordonnees.telephone}} </td>
  </ng-container>

  <ng-container matColumnDef="courriel">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Courriel </th>
    <td mat-cell *matCellDef="let forfait"> {{forfait.etablissement.coordonnees.courriel}} </td>
  </ng-container>

  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
    <td mat-cell *matCellDef="let forfait"> {{forfait.code}} </td>
  </ng-container>

  <ng-container matColumnDef="date_debut">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date d'arrivée </th>
      <td mat-cell *matCellDef="let forfait"> {{forfait.date_debut}} </td>
  </ng-container>

  <ng-container matColumnDef="date_fin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de départ </th>
      <td mat-cell *matCellDef="let forfait"> {{forfait.date_fin}} </td>
  </ng-container>

  <ng-container matColumnDef="prix">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Prix </th>
      <td mat-cell *matCellDef="let forfait"> {{forfait.prix}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let forfait">
        <button mat-icon-button aria-label="Modifier" (click)="openDialog(forfait)">
              <mat-icon>edit</mat-icon>
        </button>
        
        <button mat-icon-button aria-label="Supprimer" (click)="deleteForfait(forfait.id)">
              <mat-icon>delete</mat-icon>
        </button>
      </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Sélectionner la page des héros"></mat-paginator>



    





